*{
    margin: 0px;
    padding: 0px;
}

.grey{
    height: 375px;
    width: 100%;
    background-color:grey ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.black{
    height: 375px;
    width: 100%;
    background-color: black;
    
    
    
}
.red{

    height: 275px;
    width: 15%;
    background-color:red;
}
.gray{
    height: 275px;
    width: 20%;
    background-color: gray;
    display: inline-block;
    margin-top: 50px;
    margin-left: 4%;
    /* margin-bottom: 50px; */
}